.blocks {
    display: flex;
    margin: 1%;
    padding: 30px;
    border: 2px solid #1affff;
    background-color: #99ffff;
}
.blocks-sm {
    padding: 30px;
    margin: 1%;
    width: 100%;
    border: 2px solid #1affff;
    background-color: #99ffff;
}
/*flex-direction*/
.flex-direction_row {
    display: flex;
    -webkit-flex-direction: row;
}
.flex-direction_row-reverse {
    display: flex;
    -webkit-flex-direction: row-reverse;
}
.flex-direction_column {
    display: flex;
    -webkit-flex-direction: column;
}
.flex-direction_column-reverse {
    display: flex;
    -webkit-flex-direction: column-reverse;
}
/*flex-wrap*/
.flex-wrap_nowrap {
    display: flex;
    -webkit-flex-wrap: nowrap;
}
.flex-wrap_wrap {
    display: flex;
    -webkit-flex-wrap: wrap;
}
.flex-wrap_wrap-reverse {
    display: flex;
    -webkit-flex-wrap: wrap-reverse;
}

/*justify-content*/
.justify-content_flex-start {
    display: flex;
    -webkit-justify-content: flex-start;
}
.justify-content_flex-end {
    display: flex;
    -webkit-justify-content: flex-end;
}
.justify-content_space-between {
    display: flex;
    -webkit-justify-content: space-between;
}
.justify-content_space-around {
    display: flex;
    -webkit-justify-content: space-around;
}

/*align-items*/
.align-items_stretch {
    display: flex;
    -webkit-align-items: stretch;
}
.align-items_flex-start {
    display: flex;
    -webkit-align-items: flex-start;
}
.align-items_flex-end {
    display: flex;
    -webkit-align-items: flex-end;
}
.align-items_center {
    display: flex;
    -webkit-align-items: center;
}
.align-items_baseline {
    display: flex;
    -webkit-align-items: baseline;
}

/*align-content*/
.align-content_stretch {
    display: flex;
    -webkit-align-content: stretch;
}
.align-content_flex-start {
    display: flex;
    -webkit-align-content: flex-start;
}
.align-content_flex-end {
    display: flex;
    align-content: flex-end;
}
.align-content_center {
    display: flex;
    align-content: center;
}
.align-content_space-around {
    display: flex;
    align-content: space-around;
}
.align-content_space-between {
    display: flex;
    align-content: space-between;
}