@import "blocks.css";
@import "block.css";

body {
	background: beige;
}
a, a:hover {
	text-decoration: none;
}
nav {
	padding: 1%;
	margin: 1%;
	border-bottom: 3px solid #018686;
}
h2 {
	color: #00394d;
}
h3 {
	text-align: center;
	padding-top: 25%;
}
h4 {
	color: #00394d;
}
.title {
	font-size: 25px;
	margin: 2%;
}

.flex {
	display: flex;
}

.nav-link {
	padding: 1%;
	font-size: 40px;
	color: #005f5f;
	text-align: center;
}
.nav-link:hover {
	color: #03a1a1;
	cursor: pointer;
	border-bottom: 1px solid #029292;
}
.active {
	 color: #017ba7;
	 border-bottom: 1px solid #014b4b;
 }