@import "blocks.css";
@import "block.css";

body {
	background: beige;
}

h1 {
	font-size: 40px;
	color: #00394d;
	text-align: center;
	padding-bottom: 1%;
}
h2 {
	color: #00394d;
}
h3 {
	text-align: center;
	padding-top: 25%;
}
h4 {
	color: #00394d;
}
.title {
	font-size: 25px;
	margin: 2%;
}

.flex {
	display: flex;
}
