<section>
  <h2 class="title">justify content;</h2>
  <h4 class="title">Выравнивание flex-элементов по главной оси текущей</h4>

  <div class="flex">
    <div class="blocks-sm">
      <h2>display: flex;</h2>
      <h2>-webkit-justify-content: flex-start;</h2>
      <div class="justify-content_flex-start">
        <% 5.times do |i| %>
          <div class="block-sm"><h3><%= i + 1 %></h3></div>
        <% end %>
      </div>
    </div>

    <div class="blocks-sm">
      <h2>display: flex;</h2>
      <h2>-webkit-justify-content: flex-end;</h2>
      <div class="justify-content_flex-end">
        <% 5.times do |i| %>
          <div class="block-sm"><h3><%= i + 1 %></h3></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="blocks-sm">
      <h2>display: flex;</h2>
      <h2>-webkit-justify-content: space-between;
      </h2>
      <div class="justify-content_space-between">
        <% 3.times do |i| %>
          <div class="block-sm"><h3><%= i + 1 %></h3></div>
        <% end %>
      </div>
    </div>

    <div class="blocks-sm">
      <h2>display: flex;</h2>
      <h2>-webkit-justify-content: space-around;</h2>
      <div class="justify-content_space-around">
        <% 3.times do |i| %>
          <div class="block-sm"><h3><%= i + 1 %></h3></div>
        <% end %>
      </div>
    </div>
  </div>
</section>
