<section>
  <h2 class="title">align-self: 3;</h2>
  <h4 class="title">Указывает фактор сужения flex-элемента</h4>

  <div class="blocks justify-content_space-between">
    <div class="block-big" style="align-self: auto;"><h3>align-self: auto</h3></div>
    <div class="block-sm" style="align-self: baseline;"><h3>align-self: baseline</h3></div>
    <div class="block-sm" style="align-self: flex-start;"><h3>align-self: flex-star</h3></div>
    <div class="block-sm" style="align-self: flex-end;"><h3>align-self: flex-end</h3></div>
    <div class="block-sm" style="align-self: center;"><h3>align-self: center</h3></div>
    <div class="block-sm" style="align-self: stretch;"><h3>align-self: stretch</h3></div>
  </div>
</section>
