<section>
  <h2 class="title">flex-shrink: 3;</h2>
  <h4 class="title">Указывает фактор сужения flex-элемента</h4>

  <div class="blocks justify-content_space-between">
    <div class="block-sm" style="flex-shrink: 0;"><h3>1</h3></div>
    <% 4.times do |i| %>
      <div class="block-sm"><h3><%= i + 2 %></h3></div>
    <% end %>
  </div>
</section>
