<section>
  <h2 class="title">flex-basis: auto;</h2>
  <h4 class="title">Указывает исходный главный размер flex-элемента</h4>

  <div class="blocks flex">
    <div class="block-big" style="flex-basis: 220px;"><h3>flex-basis: 220px</h3></div>
    <% 4.times do |i| %>
      <div class="block-big" style=""><h3><%= i + 1 %></h3></div>
    <% end %>
  </div>
</section>
