<header>
  <h1>header</h1>
</header>
<div class="container">
  <div class="main">
    <div class="border">
      <%= erb :"pages/shared/_text" %>
    </div>
  </div>

  <div class="left-sidebar">
    <h1>Menu</h1>
  </div>

  <div class="sidebar">
    <h1>sidebar</h1>
  </div>
</div>
<footer>
  <h1>footer</h1>
</footer>